.footer {
  background-color: $bg-grey;
  width: 100%;
}
.footer__logo a {
  display: block;
  padding: 39px 0 31px;
  text-align: center;
  background: red;
}
.footer__logo,
.footer__social {
  border-bottom: 1px solid rgba(217, 217, 217, .9);
}
.footer__social {
  margin: 0;
}
