.goal {
  background-color: $bg-grey;
  background-color: rgba(113, 187, 230, 0.5);
  width: 280px;
  padding: 22px 20px 0 21px;
}
.goal__top {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.goal__icon {
  width: 50px;
  height: 50px;
  background-color: $green;
  border-radius: 50%;
  margin-right: 20px;
}
.goal__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}
.goal__description {
  font-size: 14px;
  font-family: "Arial", "Open Sans", sans-serif;
  line-height: 1.29;
  color: $text-grey;
  padding-right: 16px;
}
.goal__link {
  text-transform: uppercase;
  font-size: 16px;
}
