.header__top {
  display: flex;
  justify-content: space-between;
  padding: 11px 0 15px;
  background-color: darksalmon;
}
.header__logo {
  background-color: chocolate;
  width: 191px;
  height: 39px;
}
