.main-nav {
  background-color: darkgoldenrod;
}
.main-nav__list {
  display: none;
  background-color: #f33e3e;
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  text-align: center;
  margin: 0;
}
.main-nav__burger {
  width: 25px;
  height: 3px;
  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}
.main-nav__link {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 65px;
  border-top: 1px solid #e6e6e6;
}
