*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Oswald", "Open Sans", sans-serif;
  min-height: 100vh;
}
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}
a[class] {
  text-decoration: none;
}
button,
input,
textarea,
a {
  font-family: inherit;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  outline: 2px dashed black;
}
